#naslim-search_widget {
    margin-right: .7rem;
}

/* Basic styling */
.search-container {
    position: relative;
    display: inline-block;
    height: 40px;
}

.search-input {
    width: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: width 0.4s ease, padding 0.4s ease; /* Smooth transition for width and padding */
    outline: none;
    height: 40px;
    box-sizing: border-box;
}

/* Search Icon */
.search-icon, .close-icon {
    cursor: pointer;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease; /* Smooth fade for icon visibility */
}

.search-icon {
    right: 0;
    color: black;
}

.close-icon {
    right: 10px;
    opacity: 0;
    pointer-events: none; /* Initially hidden */
}

/* When input is active */
.search-container.active .search-input {
    width: 200px;
    padding: 10px 40px 10px 10px; /* Adjust padding when input is visible */
}

.search-container.active .search-icon {
    opacity: 0; /* Hide search icon */
    pointer-events: none;
}

.search-container.active .close-icon {
    opacity: 1; /* Show close icon */
    pointer-events: auto;
}

/* Optional: Add some basic styling */
.search-input::placeholder {
    color: #999;
}


.ui-autocomplete.searchbar-autocomplete {
    width: 100%;
    min-height: 100%;
    border: none;
}

.ui-autocomplete.searchbar-autocomplete li a, .ui-autocomplete.searchbar-autocomplete li a.ui-state-focus {
    padding: 8px 15px;
    overflow: auto;
    border: none;
    background: none;
    margin: auto;
    border-radius: 0;
}

.ui-autocomplete.searchbar-autocomplete li a:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.ui-autocomplete.searchbar-autocomplete li a .autocomplete-thumbnail {
    float: left;
    width: 50px;
    height: auto;
    margin-right: 8px;
}

@media only screen and (min-width: 768px) {
    #search_widget {
        float: right;
        margin-bottom: 0;
    }

    .ui-autocomplete.searchbar-autocomplete {
        width: 400px;
        min-height: auto;
        left: auto;
    }
}

@media only screen and (min-width: 992px) {
    #search_widget {
        min-width: 16.5rem;
    }
}
