.night {
    background-image: url('../img/night.jpg');
}

.day {

    background-image: url('../img/day.jpg');
}

.clouds {

    background-image: url('../img/clouds.jpg');
}


@media (min-width: 1200px) and (min-width: 1200px) {
    body .container {
        width: 1682px !important;
    }
}


@media (max-width: 1279px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}