#custom-text {
  margin-bottom: 1.5rem;
  text-align: center;
  background: $white;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .custom-text-section {
    padding: 5.125rem;
    width: 100%;
    background-color: $naslim-gold;
    border-radius: .8rem;

    h2 {
      color: $white;
      font-family: 'Roboto', serif;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 3rem;
    }
    h1.offer {
      color: $white;
      font-family: 'Anton SC', serif;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 4.5rem;
    }
    p.country {
      color: $white;
      font-family: 'Roboto', serif;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.5rem;
    }
    p.offer-text {
      color: darken($naslim-gold, 50);
      font-family: 'Roboto', serif;
      text-transform: uppercase;
      font-weight: 400;
      line-height: 1.5rem;
      font-size: 1.4rem;
      margin-top: 1.5rem;
    }
    .price-circle {
      position: absolute;
      background-color: darken($naslim-gold, 20);
      border-radius: 2.9rem;
      left: 3%;
      padding: 1rem;
      -webkit-box-shadow: 7px 7px 21px 4px rgba(0,0,0,0.48);
      -moz-box-shadow: 7px 7px 21px 4px rgba(0,0,0,0.48);
      box-shadow: 7px 7px 21px 4px rgba(0,0,0,0.48);

      p {
        margin: 0;
        padding: 0;
        color: $white;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-family: 'Roboto', serif;
      }
    }
  }

  .custom-image-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;

    .planet-container {
      border-radius: 50%;
      box-shadow: 5px -3px 10px 3px $naslim-gold;
      height: 360px;
      overflow: hidden;
      position: relative;
      width: 360px;
      z-index: 1;
    }
    .night {
      animation: rotate-night 80s linear infinite;
      background-size: 200%;
      height: 360px;
      position: absolute;
      width: 360px;
      z-index: 2;
    }
    .day {
      animation: rotate-day 80s linear infinite;
      background-size: 200%;
      border-left: solid 1px black;
      border-radius: 50%;
      box-shadow: 5px 0 20px 10px #040615 inset;
      height: 360px;
      margin-left: 110px;
      position: absolute;
      width: 360px;
      z-index: 3;
    }
    .clouds {
      animation: rotate-day 50s linear infinite, spin-clouds 100s ease infinite;
      background-size: 200%;
      border-radius: 50%;
      box-shadow: 5px 0 20px 10px #040615 inset, -9px 0px 20px 10px #5e90f1 inset;
      height: 360px;
      margin-left: 100px;
      opacity: 0.45;
      position: absolute;
      width: 360px;
      z-index: 4;
    }
    .inner-shadow {
      background: transparent;
      border-radius: 50%;
      box-shadow: -5px 0 10px 1px #152b57 inset, 5px 0 10px 1px #040615 inset;
      height: 360px;
      margin-left: 0;
      position: absolute;
      width: 360px;
      z-index: 5;
    }

    @keyframes rotate-day {
      0% { background-position: 120% 0; }
      100% { background-position: -80% 0; }
    }
    @keyframes rotate-night {
      0% { background-position: calc(120% + 120px) 0; }
      100% { background-position: calc(-80% + 120px) 0; }
    }
    @keyframes spin-clouds {
      0% { transform: rotate(0deg); }
      50% { transform: rotate(20deg); }
      100% { transform: rotate(0deg); }
    }
  }

  p {
    font-size: 0.875rem;
    font-weight: 400;
    color: $gray-darker;

    .dark {
      font-size: 1.125rem;
      font-weight: 600;
      color: $gray-darker;
    }
  }

  img {
    max-width: 100%;
    height: 100%;
  }
}

.page-content.page-cms {
  padding: 1.25rem;
  text-align: justify;
  background: $white;

  .cms-box {
    img {
      max-width: 100%;
    }
  }

  ul {
    @extend p;
    list-style: disc inside none;
  }
}

@include media-breakpoint-down(md) {
  #block-cmsinfo {
    padding: $medium-space $large-space;
  }
}

@media screen and (min-width: $screen-md-naslim) {
  #custom-text {
    flex-direction: row;

    .custom-image-section {
      margin: 0;
    }
  }

}